In [1]:
from nba_py import game
from nba_py import player

In [2]:
boxscore_summary = game.BoxscoreSummary("0021600458")

In [ ]:
boxad = game.BoxscoreAdvanced("0021600458")

In [ ]:
boxad.sql_team_advanced()

In [ ]:
boxscore_summary.line_score()

In [ ]:
boxad.sql_team_advanced()

In [ ]:
boxscore_summary = game.BoxscoreSummary("0001600458")

In [ ]:
players = player.PlayerList()

In [ ]:
type(players.info())

In [9]:
boxscore_summary.other_stats()

,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PTS_PAINT,PTS_2ND_CHANCE,PTS_FB,LARGEST_LEAD,LEAD_CHANGES,TIMES_TIED,TEAM_TURNOVERS,TOTAL_TURNOVERS,TEAM_REBOUNDS,PTS_OFF_TO
0,00,1610612741,CHI,Chicago,44,20,10,3,2,3,0,14,8,19
1,00,1610612759,SAS,San Antonio,50,16,14,20,2,3,0,13,5,19

In [10]:
boxscore_summary.game_summary()

,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,GAME_STATUS_ID,GAME_STATUS_TEXT,GAMECODE,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,LIVE_PERIOD,LIVE_PC_TIME,NATL_TV_BROADCASTER_ABBREVIATION,LIVE_PERIOD_TIME_BCAST,WH_STATUS
0,2016-12-25T00:00:00,3,0021600458,3,Final,20161225/CHISAS,1610612759,1610612741,2016,4,,ABC,Q4 - ABC,1

Summary
-------
It is not possible to mine this data for team rebounds, etc. at least using this API.