In [1]:
from nba_py import player

In [ ]:
player.PlayerCareer(player_id=)

In [ ]:
    playa = player.get_player(first_name=first_name,last_name=last_name)

In [14]:
player.get_player(first_name='Lebron',last_name='James')

1844    2544
Name: PERSON_ID, dtype: int64

In [15]:
lebron = player.PlayerCareer(player_id=2544)

In [16]:
lebron.post_season_career_totals()

,PLAYER_ID,LEAGUE_ID,Team_ID,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,2544,00,0,227,227,42.0,10.2,20.8,0.488,1.5,...,0.743,1.5,7.3,8.9,6.9,1.8,1.0,3.5,2.4,28.7