In [16]:
from nba_py import team
import pandas as pd
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

height has been deprecated.

In [19]:
bos = team.TeamLastNGamesSplits(team_id='1610612738',date_from=?)

SyntaxError: invalid syntax (<ipython-input-19-bd9f45cee32c>, line 1)

In [18]:
bos.last10()

       GROUP_SET    GROUP_VALUE  GP  W  L  W_PCT   MIN   FGM   FGA  FG_PCT  FG3M  FG3A  FG3_PCT   FTM   FTA  FT_PCT  OREB  DREB   REB   AST   TOV  STL  BLK  BLKA    PF   PFD    PTS  PLUS_MINUS  GP_RANK  W_RANK  L_RANK  W_PCT_RANK  MIN_RANK  FGM_RANK  FGA_RANK  FG_PCT_RANK  FG3M_RANK  FG3A_RANK  FG3_PCT_RANK  FTM_RANK  FTA_RANK  FT_PCT_RANK  OREB_RANK  DREB_RANK  REB_RANK  AST_RANK  TOV_RANK  STL_RANK  BLK_RANK  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  PLUS_MINUS_RANK  CFID       CFPARAMS
0  Last 10 Games  Last 10 Games  10  6  4    0.6  48.0  38.1  83.4   0.457   9.7  24.8    0.391  16.2  20.9   0.775   9.9  33.6  43.5  22.7  14.7  9.1  3.8   4.1  16.9  20.3  102.1         1.3        1       1       1           1         1         1         1            1          1          1             1         1         1            1          1          1         1         1         1         1         1          1        1         1         1                1   159  Last 10 Games

In [8]:
teams = team.TeamList()

In [11]:
teamids = teams.info()
teamids

   LEAGUE_ID     TEAM_ID MIN_YEAR MAX_YEAR ABBREVIATION
0         00  1610612737     1949     2017          ATL
1         00  1610612738     1946     2017          BOS
2         00  1610612739     1970     2017          CLE
3         00  1610612740     2002     2017          NOP
4         00  1610612741     1966     2017          CHI
5         00  1610612742     1980     2017          DAL
6         00  1610612743     1976     2017          DEN
7         00  1610612744     1946     2017          GSW
8         00  1610612745     1967     2017          HOU
9         00  1610612746     1970     2017          LAC
10        00  1610612747     1948     2017          LAL
11        00  1610612748     1988     2017          MIA
12        00  1610612749     1968     2017          MIL
13        00  1610612750     1989     2017          MIN
14        00  1610612751     1976     2017          BKN
15        00  1610612752     1946     2017          NYK
16        00  1610612753     1989     2017          ORL
17        00  1610612754     1976     2017          IND
18        00  1610612755     1949     2017          PHI
19        00  1610612756     1968     2017          PHX
20        00  1610612757     1970     2017          POR
21        00  1610612758     1948     2017          SAC
22        00  1610612759     1976     2017          SAS
23        00  1610612760     1967     2017          OKC
24        00  1610612761     1995     2017          TOR
25        00  1610612762     1974     2017          UTA
26        00  1610612763     1995     2017          MEM
27        00  1610612764     1961     2017          WAS
28        00  1610612765     1948     2017          DET
29        00  1610612766     1988     2017          CHA
30        00  1610610031     1946     1946         None
31        00  1610610029     1948     1948         None
32        00  1610610025     1946     1949         None
33        00  1610610034     1946     1949         None
34        00  1610610036     1946     1950         None
35        00  1610610024     1947     1954         None
36        00  1610610027     1949     1949         None
37        00  1610610030     1949     1952         None
38        00  1610610033     1949     1949         None
39        00  1610610037     1949     1949         None
40        00  1610610023     1949     1949         None
41        00  1610610026     1946     1946         None
42        00  1610610028     1946     1946         None
43        00  1610610032     1946     1948         None
44        00  1610610035     1946     1946         None